@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
.special-product {
  background-color: $white-bg;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.674);
  position: relative;
  &__discount {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 18px;
    background-color: $yellow-color;
    opacity: 0;
    transition: 0.3s opacity;
  }
  &:hover &__discount {
    opacity: 1;
  }
  &__content-wrapper {
    padding: 10px;
    display: flex;
  }
  &__thumbnails-wrapper {
    // styles goes here
  }
  &__slider-wrapper {
    max-width: 200px;
    margin-inline: auto ;
  }
  &__thumbnail,
  &__thumbnail--active {
    cursor: pointer;
    border: 2px solid;
    border-radius: 4px;
    transition: 0.3s border-color ease-in-out;
  }
  &__thumbnail {
    border-color: #d8dbda;
  }
  &__thumbnail--active {
    border-color: $main-color;
  }
  &__preview-wrapper {
    position: relative;
  }
  &__preview {
    // styles goes here
  }
  &__textual-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
  }

  &__actions-wrapper {
    --actions-gap: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: var(--actions-gap);
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 15px;
    right: 10px;
  }
  &__actions-inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--actions-gap);
    transform: translateX(100%);
    transition: 0.3s transform ease;
  }
  &:hover &__actions-inner-wrapper {
    transform: translateX(0%);
  }
  &__action-btn {
    display: block;
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: transparent;
    @include roundedCircle(36);
    line-height: 36px;
    transition: 0.3s background-color;
  }
  &__action-btn:hover {
    background-color: $yellow-color;
  }
  &__action-btn__icon {
    // styles goes here
  }
  &__favourite-icon {
    transition: 0.6s transform, 0.3s fill, 0.3s color ease;
    &--favourited {
      fill: red;
      transform: scale(1.2);
    }
  }

  &__view-btn {
    // styles goes here
  }
  &__compare-btn {
    // styles goes here
  }
  &__favourite-btn {
    // styles goes here
  }
  &__company-name {
    color: $violet-color;
    font-size: 14px;
  }
  &__title {
    color: $main-color;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 235px;
  }

  &__price-wrapper {
    display: flex;
    gap: 0.4rem;
  }
  &__price {
    font-size: 17px;
    font-weight: 500;
    color: $main-color;
    &--old {
      text-decoration: line-through;
    }
    &--new {
      color: $violet-color;
      text-decoration: none;
    }
  }
  // FIXME: copy this style to the productcountdown component
  &__offer-date-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__offer-day-wrapper {
    display: flex;
    gap: 0.2rem;
    font-size: 14px;
    text-transform: capitalize;
    color: $text-gray-color;
  }
  &__offer-day {
    color: $main-color;
    font-weight: 500;
  }
  &__countdown-wrapper {
    --gap: 0.6rem;
    display: flex;
    gap: var(--gap);
  }
  &__countdown {
    position: relative;
    display: block;
    background-color: red;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    color: $secondary-text-color;
    @include roundedCircle(30);
  }
  &__countdown:not(:last-child) {
    &::before {
      content: ':';
      color: $text-gray-color;
      font-weight: 500;
      position: absolute;
      right: calc(var(--gap) * -1);
      transform: translateX(-50%);
    }
  }
  &__expired {
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    color: $secondary-text-color;
    font-weight: bold;
  }
  &__product-link {
    color: $secondary-text-color;
    background-color: $main-color;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 24px;
    transition: 0.3s color, 0.3s background-color;
    &:hover {
      color: $main-text-color;
      background-color: $yellow-color;
    }
  }
}
