@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.products-page {
  padding-block: 30px;
  background-color: $light-bg;
  &__inner-wrapper {
    display: flex;
    --spacing: 1rem;
    gap: var(--spacing);
  }
  &__filters-wrapper {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
  &__navigation-box-wrapper {
    // style goes here
  }
  &__filter-by-wrapper {
    // style goes here
  }
  &__filter-by-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__availibility-filter-wrapper {
    
  }
  &__availibility-filter-content {

  }
  &__checkbox-filter-row {

  }
  &__checkbox-filter-input {

  }
  &__checkox-filter-label {

  }

  &__color-filter-content {

  }
  &__colors-btns-wrapper {

  }
  &__size-filter-content {

  }
  &__sizes-wrapper {

  }
  &__filter-label {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__filter-heading {
    font-size: 20px;
    margin-bottom: 25px;
  }
  &__filter-by-wrapper,
  &__product-tag-wrapper,
  &__random-products-wrapper {
    background-color: $white-bg;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 15px 1px rgba(135, 134, 134, 0.265);
  }
  &__tag-btns-wrapper {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  &__tag-btn {
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    font-weight: 600;
    color: $text-gray-color;
    background-color: $light-bg;
    border: none;
    transition: 0.3s color, background-color;
    &:hover {
      background-color: $main-color;
      color: $secondary-text-color;
    }
  }
  &__content-wrapper {
    flex: 1;
  }
  &__sort-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $white-bg;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(135, 134, 134, 0.265);
    margin-bottom: var(--spacing);
  }
  &__sort-controller-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__sort-label {
    // style goes here
  }
  &__sort-filters-select {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: $light-bg;
    color: $text-gray-color;
    border-radius: 8px;
  }

  &__sort-filters-option {
    // style goes here
  }

  &__sort-visual-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__sorted-products-count {
    color: $text-gray-color;
    font-size: 14px;
  }
  &__sort-buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__visual-sort-btn {
    cursor: pointer;
    background-color: $light-bg;
    border: none;
    padding: 6px;
    border-radius: 9px;
    font-size: 0;
    transition: 0.3s color, background-color;
    &:hover,
    &:focus-visible,
    &--active {
      background-color: $main-color;
      color: $secondary-text-color;
    }
  }
  &__products-wrapper {
    margin-bottom: var(--spacing);
  }
}
