@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.login-page {
  padding-block: 100px;
  padding-inline: 15px;
  background-color: $light-bg;
  &__form-box {
    padding: 30px;
    background-color: $white-bg;
    border-radius: 8px;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 28%);
    max-width: 450px;
    margin-inline: auto;
  }
  &__form-outer-wrapper {
    overflow: hidden;
  }
  &__form-inner-wrapper {
    display: flex;
    transform: translateX(0);
    transition: 0.3s transform;
  }
  &__form-inner-wrapper.forget {
    transform: translateX(-100%);
  }
  &__login-form-content,
  &__forget-form-content {
    min-width: 100%;
    padding: 2px;
  }
  &__form-heading {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: $text-gray-color;
    margin-bottom: 15px;
  }
  &__input-group {
    position: relative;
  }
  &__login-form {
  }
  &__input-group {
    margin-bottom: 15px;
  }
  &__input-field {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: $light-bg;
    outline: 1px solid transparent;
    transition: 0.3s outline;
  }
  &__input-field:focus {
    outline-color: $yellow-color;
  }
  &__input-placeholder {
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgba($color: $text-gray-color, $alpha: 0.8);
    pointer-events: none;
    transition: 0.1s;
  }
  &__input-field:focus + &__input-placeholder,
  &__input-field:not(:placeholder-shown) + &__input-placeholder {
    top: 2px;
    font-size: 10px;
  }
  &__forget-password-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 15px;
    font-weight: 500;
    color: $main-text-color;
  }
  &__login-form-actions-wrapper {
    display: flex;
    gap: 1rem;
    @include xs {
      flex-direction: column;
    }
    @include sm {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &__login-form-btn {
    cursor: pointer;
    font-size: 17px;
    border-radius: 18px;
    padding: 10px 20px;
    color: #fff;
    background-color: $main-color;
    transition: 0.3s color, background-color;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover,
    &:focus {
      color: $main-text-color;
      background-color: $yellow-color;
    }
    &--register {
      text-align: center;
      color: $main-text-color;
      background-color: $yellow-color;
      &:hover,
      &:focus {
        color: #fff;
        background-color: $main-color;
      }
    }
  }
  &__reset-pw-desc {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
    color: rgba($color: $text-gray-color, $alpha: 0.8);
  }
  &__forget-password-actions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  &__cancel-forget-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
  }
}
