@use "/src/styles/variables" as *;

.product-autocomplete-card {
  display: flex;
  gap: 1rem;
  &__img {
    border-radius: 4px;
    max-width: 100px;
    aspect-ratio: 1;
  }
  &__desc-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  &__price {
    font-size: 14px;
    &--old {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.774);
      text-decoration: line-through;
    }
    &--new {
      font-size: 14px;
      color: $violet-color;
      font-weight: bold;
    }
  }
}
