@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.blog-page {
  padding-block: 20px;
  background-color: $light-bg;
  &__content-wrapper {
    display: flex;
    gap: 1rem;
  }
  &__content {
    flex: 1;
  }
  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  &__img-wrapper {
    margin-bottom: 15px;
  }
  &__img {
    width: 100%;
    height: 450px;
    object-position: top;
    object-fit: cover;
  }
  &__desc {
    font-size: 14px;
    color: $text-gray-color;
    margin-bottom: 20px;
  }
  &__info-wrapper {
    display: flex;
    gap: 1rem;
    font-size: 14px;
    color: $text-gray-color;
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
  }
  &__date {
  }
  .divider {
    & {
      background-color: #e7e7e7;
    }
    &--white,
    & {
      width: 2.5px;
    }
    &--white {
      background-color: white;
    }
  }
  &__author {
    text-transform: capitalize;
  }
  &__actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
  }
  &__back-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
  }
  &__social-list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__social-item {
  }
  &__social-link {
  }
  &__social-link-icon {
    width: 20px;
    height: 20px;
    fill: black;
    color: black;
  }
}
