@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;
.product-banner-section {
  background-color: $light-bg;
  padding-block: 60px;
  .content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
