@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.blogs {
  padding-block: 20px;
  background-color: $light-bg;
  &__content-wrapper {
    display: flex;
    gap: 1rem;
  }
  .navigation {
    position: sticky;
    top: 150px;
    background-color: red;
    height: 200px;
    width: 350px;
    display: none;
    @include md{
      display: block;
    }
  }
  &__content {
    padding-block: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }
}
