@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navigation-box {
  position: sticky;
  top: 130px;
  background-color: $white-bg;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 15px 1px rgba(135, 134, 134, 0.265);
  height: 200px;
  display: none;
  @include md {
    display: block;
  }
}
