@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
.search-form {
  display: flex;
  input[type='search'] {
    width: 100%;
    padding: 10px {
      right: 6px;
      left: 15px;
    }
    border: none {
      top-left-radius: 8px;
      bottom-left-radius: 8px;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $text-gray-color;
    }
  }
  button {
    padding: 8px 12px;
    background-color: $yellow-color;
    cursor: pointer;
    border: none {
      top-right-radius: 8px;
      bottom-right-radius: 8px;
    }
  }
}
