@use "/src/styles/variables" as *;
.search-page {
  padding-block: 40px;
  background-color: $light-bg;
  &__content {
    background-color: $white-bg;
    padding-block: 10px;
  }
  &__heading {
    text-align: center;
    margin-bottom: 10px;
  }
  &__searchbar-wrapper {
    margin-inline: auto;
    margin-bottom: 15px;
    max-width: 400px;
  }
  &__no-result-text {
    color: indianred;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
}
