@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;
.category-card {
  padding: 10px;
  position: relative;
  padding-left: 20px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  @include xs {
    flex-direction: column;
  }
  @include md {
    flex-direction: row;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: var(--line-color);
  }
  &::before {
    transform: translateX(-50%);
    width: var(--line-thickness);
    top: 0;
    height: 100vh;
    left: calc(var(--line-offset) * -1);
  }
  &::after {
    left: 0;
    top: calc(var(--line-offset) * -1);
    height: var(--line-thickness);
    width: 100vw;
  }

  .text {
    flex: 1;
    @include xs {
      order: 1;
      text-align: center;
    }
    @include md {
      order: initial;
      text-align: left;
    }
    .category-link {
      color: $main-color;
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .count {
      color: $text-gray-color;
      font-size: 14px;
    }
  }
  img {
    // styles goes here
  }
}
