@use '/src/styles/mixins' as *;
@use '/src/styles/variables' as *;
.category-banner {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  font-size: 0;
  &-content {
    font-size: initial;
    position: absolute;
    left: 9%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    @include xs {
      top: 10%;
      gap: 0.5rem;
    }
    @include md {
      top: 20%;
      gap: 0.9rem;
    }
    .heading {
      color: $violet-color;
      font-weight: normal;
      text-transform: uppercase;
    }
    .title {
      color: $main-text-color;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 25px;
      @include xs {
        font-size: 20px;
      }
      @include lg {
        font-size: 25px;

      }
    }
    .desc {
      line-height: 1.5;
      color: $main-text-color;
      font-size: 15px;
      max-width: 173px;
    }
    .offer-link {
      border-radius: 20px;
      color: white;
      background-color: $main-color;
      transition: color 0.3s, 0.3s background-color;
      padding: 10px 20px;
      font-size: 13px;
      width: fit-content;
      &:hover {
        color: $main-text-color;
        background-color: $yellow-color;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  &:hover {
    img {
      transform: scale(1.04);
    }
  }
}
