@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
.pagination {
  &__content {
    display: flex;
    gap: 1rem;
    @include xs {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include sm {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
    background-color: $white-bg;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.3);
  }
  &__current-pagination-info {
    background-color: $main-color;
    color: $secondary-text-color;
    padding: 8px;
    border-radius: 4px;
  }
  &__pagination-bullet-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__pagination-bullet {
    @include roundedCircle(30);
    text-align: center;
    line-height: 30px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    &:disabled {
      pointer-events: none;
    }
  }
  &__pagination-bullet:not(:disabled):hover,
  &__pagination-bullet--active {
    background-color: $main-color;
    color: $secondary-text-color;
  }
  &__prev-pagination,
  &__next-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
