@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.navigation-box {
  background-color: $white-bg;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 15px 1px rgba(135, 134, 134, 0.265);
}
