@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.products-page {
  padding-block: 30px;
  background-color: $light-bg;
  &__inner-wrapper {
    display: flex;
    --spacing: 1rem;
    gap: var(--spacing);
  }
  &__filters-wrapper {
    max-width: 300px;
  }
  &__content-wrapper {
    flex: 1;
  }
}
