@use '../../styles/variables' as *;

.favorite-product {
  position: relative;
  &__remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    &:hover {
      .favorite-product__remove-btn-icon {
        color: indianred;
      }
    }
  }
  &__remove-btn-icon {
    transition: 0.3s color;
  }
  &__img-wrapper {
  }
  &__img {
    width: 100%;
    border-radius: 4px;
  }
  &__body-wrapper {
    padding: 10px;
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
    color: $main-text-color;
    font-weight: 500;
  }
  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  &__price {
    font-weight: 500;
    &--old {
      text-decoration: line-through;
    }
    &--new {
      color: $violet-color;
    }
  }
}
